.elementor-1018 .elementor-element.elementor-element-10da240{margin-top:0px;margin-bottom:0px;padding:20px 20px 10px 20px;}.elementor-1018 .elementor-element.elementor-element-10dfbbc9 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1018 .elementor-element.elementor-element-1e4b78c img{width:9%;}.elementor-1018 .elementor-element.elementor-element-5755bd79{text-align:center;}.elementor-1018 .elementor-element.elementor-element-5755bd79 .elementor-heading-title{color:#0EBE88;font-family:"Inter", Sans-serif;font-size:24px;font-weight:600;}.elementor-1018 .elementor-element.elementor-element-5755bd79 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-1018 .elementor-element.elementor-element-c895604{margin-top:0px;margin-bottom:0px;padding:1em 0em 3em 0em;}.elementor-bc-flex-widget .elementor-1018 .elementor-element.elementor-element-3fbe66ae.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-1018 .elementor-element.elementor-element-3fbe66ae.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-1018 .elementor-element.elementor-element-3fbe66ae.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-1018 .elementor-element.elementor-element-3fbe66ae > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:40px 20px 20px 20px;}.elementor-1018 .elementor-element.elementor-element-3425ea37 > .elementor-widget-container{margin:-30px 0px 0px 0px;}#elementor-popup-modal-1018 .dialog-message{width:500px;height:auto;}#elementor-popup-modal-1018{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(0,0,0,.8);}#elementor-popup-modal-1018 .dialog-close-button{display:flex;}#elementor-popup-modal-1018 .dialog-widget-content{animation-duration:0.5s;background-color:#000000D4;border-style:solid;border-width:2px 2px 2px 2px;border-color:#0EBE8887;border-radius:12px 12px 12px 12px;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}#elementor-popup-modal-1018 .dialog-close-button i{color:#FFFFFF;}#elementor-popup-modal-1018 .dialog-close-button svg{fill:#FFFFFF;}@media(max-width:767px){#elementor-popup-modal-1018 .dialog-message{width:325px;}}/* Start custom CSS */section#form-gatales {
    border-radius: 10px;
    border: 1px solid #FFFFFF10;
    backdrop-filter: blur(95px);
}
section#form-gatales input[type=text],
section#form-gatales input[type=email],
section#form-gatales input[type=tel] {
    background-color: #00000029;
    border-color: #0EBE88;
    border-radius: 20px;
    height: 50px;
}    
section#form-gatales button[type="submit"] {
    background-color: #0EBE88;
    color: #ffffff;
    height: 50px;
}

.logincontenido {
    width: 85%;
    margin: 0 auto;
}
.logincontenido form input[type=email],
.logincontenido form input[type=text] {
    background: transparent;
    border: 1px solid #0EBE88;
    border-radius: 28px;
    height: 50px !important;
    color: #fff;
}
.logincontenido form input#code {
    margin-bottom: 20px;
}
.logincontenido form p.tex-login {
    color: #fff;
    font-weight: 500;
    margin: 10 auto;
}

.logincontenido form input[type=submit] {
    background: #0EBE88;
    color: #fff;
    border-radius: 28px;
    border: none;
    width: 100%;
}
.logincontenido form label#correo-co {
    color: #fff;
    margin-bottom: 20px;
}
.logincontenido form a#regresar {
    border-radius: 28px;
    border: none;
    padding: 10px 30px;
    color: #000;
    background: #FFC107;
    font-weight: 500;
}
.logincontenido form p#back {
    margin-bottom: 30px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}/* End custom CSS */